#beta-chart{
  height: 480px;
}

.beta-chart-information{
  margin: 1rem 0;
  padding-left: 30px;
  position: relative;
  color: #999;

  p{
    font-size: 0.80rem !important;
    line-height: 1.5 !important;
  }

  &:before{
    position: absolute;
    content: '';
    left: 10px;
    top: 2px;
    width: 12px;
    height: 12px;
    background: url(../img/info.png);
    background-size: 100%;
  }
}

.beta-asset-location-breakdown{
  margin: 1rem 0;
  padding:15px;
  font-size: 0.90rem;
  background: white;
  position: relative;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 10px rgba(0,0,0,0.1);

  h6{
    padding-right: 60px;
    margin: 0;
    line-height: 1 !important;
  }

  #beta-show-breakdown{
    position: absolute;
    display: inline-block;
    right: 15px;
    top: 10px;
    z-index: 50;
    cursor: pointer;
    color: $blue;
  }

  #beta-alb-content{
    padding-top: 10px;
    padding-bottom: 10px;
    display: none;

    p{
      font-size: 0.90rem;
    }

    u{
      font-weight: $font-weight-regular;
    }
  }
}

.beta-chart-toolbar{
  overflow: hidden;

  .beta-chart-type{
    width: 35%;
    float: left;
  }

  .beta-chart-scenario{
    text-align: right;
    width: 65%;
    float: right;
  }
}
