// fonts
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-weight-light: 300 !default;
$font-weight-regular: 400 !default;
$font-weight-heavy: 700 !default;

// colors
$dark: #000000 !default;
$highlight: rgba(55,131,227,1) !default;
$blue: rgba(14,101,215,1) !default;

// utility
$border-radius: 0.25rem !default;

// Form
$input-color: #DEE2EA;
$input-padding: 8px 10px !default;

// grid
$medium-breakpoint: 768px !default;
$small-breakpoint: 540px !default;
